#home-container {
  margin: 0px 50px 0px 50px;
}

#example-messages li {
  padding-bottom: 10px;
  list-style: none;
}
#example-messages {
  padding            : 20px; 
  color              : #C2B8B8;
  line-height        : 22px;
/*  border             : 1px solid #CCC;*/
  border-radius      : 3px;
  font-family        : "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size          : 18px;
  box-shadow         : 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow           : auto;
  width              : 300px; 
  background-color   : rgba(51, 51, 51, 0.45);
  -webkit-box-shadow : 0 8px 20px rgba(0, 0, 0, 0.2);
}

.splash {
  background-image: url(../images/main-bg.jpeg);
  background-color: #272b30;
}

.example-chat-toolbar {
  background-color: #333333;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);   
}

footer{
  background-color: #333333;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;  
  width: 300px;
  margin: 0px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

body {
  background-color: #272b30;
}

img.logo{
  border-radius: 25px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 5px #080808;
  border: solid;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.btn-block{
  width: 600px;
}

#centeredButton {
  text-align: center;
  vertical-align: middle;
/*  position: absolute;
  margin: 0;
  top: 50%;                         
  transform: translate(0, -50%);*/
}

.row{
  margin: 25px;
}

.cs-header {
    display: none !important;
  }


/*.col-md-7{
  border:solid;
}

.col-md-3{
  border:solid;
}

.col-md-2{
  border:solid;
}*/